build/
dist/
zppy.egg-info/
*.pyc
*~
\#*

examples/example_compy.cfg
test_*_output
tests/*.cfg.txt
tests/integration/generated/*.cfg
tests/integration/image_check_failures*

# Sphinx documentation
docs/_build/
