# This is an example zppy v3.1.0 configuration file for Chrysalis.
# zppy v3.1.0 is included in E3SM Unified 1.12.
#
# NOTE: This configuration generates approximately 220 tasks/jobs when fully enabled.
# Users should only enable the tasks and time periods they need based on their specific
# analysis requirements to reduce computational load and queue time.

[default]
# Change these two paths to include your username instead
# You can also change these to match your preferred directory structure
output = /pscratch/sd/m/mek/zppy/v2.1.r05.BGWCYCL20TR-steve_2005_2014
www = /global/cfs/cdirs/e3sm/www/mek/zppy_out
# Other paths
input = /pscratch/sd/m/mek/e3sm_scratch/pm-cpu/archive/v2.1.r05.BGWCYCL20TR-steve_2005_2014

# zppy auto-determines and sources latest e3sm-unified on each supported machine with environment_commands commented out.
#environment_commands = "source /lcrc/soft/climate/e3sm-unified/load_latest_e3sm_unified_chrysalis.sh"
# For testing Unified rc:
#environment_commands = "source /lcrc/soft/climate/e3sm-unified/test_e3sm_unified_1.12.0rc2_chrysalis.sh"
environment_commands = "source /global/homes/m/mek/zppy/load_latest_e3sm_unified_pm-cpu.sh"
# Other parameters:
campaign = "water_cycle"
case = v2.1.r05.BGWCYCL20TR-steve_2005_2014
account = e3sm
dry_run = False

[climo]
active = True
walltime = "0:10:00"
years = "2005:2014:10"
nodes = 1

  [[ land_monthly_climo ]]
  frequency = "monthly"
  input_files = "elm.h0"
  input_subdir = lnd/hist
  mapping_file = /global/cfs/cdirs/e3sm/zender/maps/map_r05_to_cmip6_180x360_traave.20240901.nc
  vars = "" # Setting this as "" will tell zppy to use ALL variables

  [[ land_monthly_climo_native ]]
  frequency = "monthly"
  input_files = "elm.h0"
  input_subdir = lnd/hist
  vars = ""

  [[ land_monthly_climo_racmo_gis ]]
  frequency = "monthly"
  climo_subsection = "racmo_gis"
  grid = "racmo_gis"
  input_files = "elm.h0"
  input_subdir = lnd/hist
  mapping_file = /global/cfs/cdirs/e3sm/zender/maps/map_r05_to_racmo_gis_566x438_traave.20240801.nc
  vars = ""

  [[ land_monthly_climo_racmo_ais ]]
  frequency = "monthly"
  input_files = "elm.h0"
  climo_subsection = "racmo_ais"
  grid = "racmo_ais"
  input_subdir = lnd/hist
  mapping_file = /global/cfs/cdirs/e3sm/livvkit/maps/map_r05_to_racmo_ais_591x726.nc
  vars = ""

  [[ land_monthly_climo_merra2 ]]
  frequency = "monthly"
  input_files = "elm.h0"
  climo_subsection = "merra2"
  grid = "merra2"
  input_subdir = lnd/hist
  mapping_file = /global/cfs/cdirs/e3sm/livvkit/maps/map_r05_to_merra2_traave.20250124.nc
  vars = ""

  [[ land_monthly_climo_era5 ]]
  frequency = "monthly"
  input_files = "elm.h0"
  climo_subsection = "era5"
  grid = "era5"
  input_subdir = lnd/hist
  mapping_file = /global/cfs/cdirs/e3sm/livvkit/maps/map_r05_to_era5_s2n_721x1440.traave.20240124.nc
  vars = ""


[livvkit]
active = True
nodes = 1
walltime = "0:30:00"
# qos = "debug"
icesheets = "gis,ais"
sets = "cmb,smb,energy_racmo,energy_era5,energy_merra2,energy_ceres"
cfg = "inclusions/livvkit/livvkit_r05.jinja"
years = "2005:2014:10"

[ts]
# 2 DEPRECATED PARAMETERS in zppy v3.0.0 (the new e3sm_to_cmip task renders these obsolete):
# e3sm_to_cmip_environment_commands
# ts_fmt (e.g., `ts_fmt = "cmip"`)
active = True
walltime = "00:05:00"
years = "2005:2014:10",

  [[ land_monthly ]]
  # This subtask is a dependency for the e3sm_to_cmip task's land_monthly subtask.
  frequency = "monthly"
  input_files = "elm.h0"
  input_subdir = "lnd/hist"
  # Variables:
  vars = "EFLX_LH_TOT,FIRA,FLDS,FSA,FSDS,FSRND,FSRVD,FSDSND,FSDSVD,FSH,QICE,QICE_MELT,QRUNOFF,QSNOFRZ,QSNOMELT,QSOIL,RAIN,SNOW,TSA"
